.alert-wrapper,
.popup-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(255, 255, 255,0.9);
    transition: 300ms all;
}

.alert-modal,
.popup {
    position: absolute;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-height: 404px;
    width: 534px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    transition: 300ms all;
}

.alert-modal{
    min-height: 200px;
}

.alert-modal .close:hover,
.popup .close:hover {
    opacity: 1;
}

.alert-modal .close,
.popup .close {
    color: white;
    opacity: .8;
    font-family: verbregular;
    font-weight:100;
    position: absolute;
    top:10px;
    right:10px;
    font-size:16px;
}

.alert-modal > .popup-header,
.popup > .popup-header {
    background-color: #FF5000;
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    width: 100%;
}
.alert-modal > .popup-body > .email-login,
.popup > .popup-body > .email-login {
    margin: 20px;
    text-align: center;
}

.popup > .popup-body > .email-login > input[type="text"],
.popup > .popup-body > .email-login > input[type="password"]{
    width: 342px;
    height: 45px;
    color: #646473;
    border: 1px solid #DBDBEA;
    border-radius: 4px;
    padding: 13px;
    margin: 5px auto;
    display: block;
    font-size: 13px;
}

.alert-modal > .popup-body > .email-login > span,
.popup > .popup-body > .email-login > span{
    color: #0085B2;
    font-size: 11px;
    display: block;
}

.alert-modal > .popup-body > .email-login > .btn-email-login,
.popup > .popup-body > .email-login > .btn-email-login {
    background-color: #2EB2CD;
    width: 342px;
    height: 42px;
    color: white;
    margin: 20px auto;
    display: block;
    border: none;
    font-size: 16px;
}

.popup-splitter{
    background: url("/images/splitter.png") no-repeat center center;
    height: 23px;
}

.popup > .popup-body > .facebook-login > .btn-facebook-login {
    background-color: #3A5997;
    width: 342px;
    height: 42px;
    color: white;
    margin: 20px auto;
    display: block;
    border: none;
}
.info-alert,
.info-alert > a,
.info-alert > a:hover{
    font-size: 11px;
    color: #2eb2cd;
}

@media screen and (max-width: 520px){
    .alert-modal,
    .popup {
        width: 298px;
        margin-top: -200px;
        margin-left: -150px;
    }

    .popup > .popup-body > .email-login > input[type="text"],
    .popup > .popup-body > .email-login > input[type="password"]{
        width: 100%;
    }

    .alert-modal > .popup-body > .email-login > .btn-email-login,
    .popup > .popup-body > .email-login > .btn-email-login {
        width: 100%;
    }

    .popup > .popup-body > .facebook-login > .btn-facebook-login {
        width: 90%;
    }

    .popup-splitter {
        width: 60%;
        margin: 0 auto;
    }
}