html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.navbar-default {
    background: #00bcd4;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    background: #00bcd4;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: transparent;
}


/*
|------------------------------------------------------------------------------
| Dashboard
|------------------------------------------------------------------------------
|
|
*/
.dashboard {

}

.dashboard h1{
    font-family: Roboto, sans-serif;
}

.items {
    justify-content: space-between;
    display: flex;

    flex-flow: row wrap;
    width: 100%;
}


.items .item {
    background: white;
    box-sizing: border-box;
    border: solid 1px #DBDCE2;
    color: #727684;
    margin: 5px 10px 15px 10px;
    flex: 1 0 calc(100% - 30px);
}

.items .item > header {
    border-bottom: solid 1px #DBDCE2;
}

.items .item > header,
.items .item > main {
    padding: 10px;
}

.items .item > header .item-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.items .item > header .item-desc{
    font-size: 11px;
}

.items .item > main {
}

.items .item .amount {
    color: #44464F;
    font-size: 26px;
    display: flex;
    justify-content: center;
}
.items .item .amount > span {
    font-size: 15px;
    margin-left: 5px;
}

.table {
    border: solid 1px #DBDCE2;
}

.table > thead > tr > th {
    border-width: 1px;
    color: #2F91FF;
    text-transform: uppercase;
}

.table > tfoot > tr > td,
.table > tbody > tr > td {
    border-color: #DBDCE2;
}

@media screen and (min-width: 768px){
    .items .item {
        flex: 1 0 calc(50% - 30px);
    }
}