html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.navbar-default {
    background: #00bcd4;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    background: #00bcd4;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: transparent;
}


/*
|------------------------------------------------------------------------------
| Dashboard
|------------------------------------------------------------------------------
|
|
*/
.dashboard {

}

.dashboard h1{
    font-family: Roboto, sans-serif;
}

.items {
    justify-content: space-between;
    display: flex;

    flex-flow: row wrap;
    width: 100%;
}


.table {
    border: solid 1px #DBDCE2;
}

.table > thead > tr > th {
    border-width: 1px;
    color: #2F91FF;
    text-transform: uppercase;
}

.table > tfoot > tr > td,
.table > tbody > tr > td {
    border-color: #DBDCE2;
}

.main-view.row{
    width: 100%;
}

/*******************************
* BOOTSRAP OVERRIDE
********************************/

.dashboard.row
{
    width: 100%;
    margin: 0 auto;
}

.panel {
    border-radius: 0;
}

.panel-primary > .panel-heading {
    background-color: #FF6516;
    border-color: #FF6516;
}

.panel-primary{
    border-color: #FF6516;
}

.panel-heading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
}

.panel-heading > span {
    text-transform: none;
    font-size: 12px;
    font-weight: normal;
}

.panel-body {
    min-height: 250px;
}

.panel-footer {
    text-align: right;
    background: white;
    color: #2F91FF;
    font-weight: 600;
}

.panel-footer > a{
    color: #2F91FF;
    text-decoration: none;
}

.panel-footer > a:hover{
    color: #2F91FF;
    text-decoration: none;
}

.widget-th {
    color: #00bcd4 !important;
}