/* Util */
body {
    color: #1F1F2E;
    font-family: 'verbregular';
    font-size: 13px;

    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

hr {
     border-top-color: #A8A8B7;
}

.holder {
    margin: 0 auto;
    max-width: 1130px;
    width: 100%;
}

.relative { position: relative; }

.align-top,
.align-middle,
.align-bottom {
    float: none;
    display: inline-block;
}

.align-top { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }


.btn-link {
    color: #757584;
    cursor: pointer;
    padding: 11px 25px;
    font-family: brandon_grotesquebold;
    font-size:14px;
    text-transform: uppercase;
}

/* Navigation */
.navigation {
    background-color: #FF5000;
    height: 75px;
    overflow: hidden;
    padding: 1px 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Navigation - Logo */
.navigation .logo {
    display: block;
    float: left;
    margin-left: 10px;
}

/* Navigation - List */
.navigation .list {
    list-style: none;
    margin: 13px 0 0;
    padding: 0;
    text-align: right;
}

.navigation .list li {
    display: inline-block;
    margin: 0 7px;
    vertical-align: middle;
}

.navigation .list li:last-child { margin-right: 0; }

.navigation .list li a {
    color: #FFFFFF;
    display: block;
    font-family: 'verbmedium';
    font-size: 13px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation .list li a:hover,
.navigation .list li a.active {
    color: #ffc48c;
}

.navigation .list li a.button {
    background-color: #26C5E5;
    border-radius: 5px;
    font-family: 'verbregular';
    font-size: 14px;
    padding: 13px 22px;
}

.navigation .list li a.button.create-new {
    font-family: verbsemibold;
}

.navigation .list li a.button.create-new:hover,
.navigation .list li a.button.create-new.active {
    color: white;
    background-color: #25b3d2;
}

/* Navigation - Toggle Button */
.navigation .navigation-toggle{
    background-color: transparent;
    border: none;
    float: right;
    outline: none;
    padding: 10px;
    width: 50px;
}

.navigation .navigation-toggle .bar{
    background-color: #fff;
    border-radius: 5px;
    display: block;
    height: 4px;
    margin-bottom: 4px;
    width: 100%;
}

.navigation .navigation-toggle .bar:last-child{
    margin-bottom: 0;
}


.btn-primary {
    background: #FF4E00;
    border: #FF4E00;
    border-radius: 7px;
    font-family: brandon_grotesquebold;
    font-size: 18px;
    padding: 20.50px 46px;
    text-transform: uppercase;
}

.btn-primary:active:hover,
.btn-primary:visited:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary[disabled]:hover {
    background: #FF4E00;
}

.btn-primary.small {
    padding: 11.5px 46px;
    font-size: 14px;
}

.logged {
    position: relative;
    top: -5px;
}

.logged > a {
    text-align: center;
    padding: 0 !important;
    text-transform: none !important;
}

.logged > a.logout {
    font-size: 10px !important;
}

/* Loader */
.loader {
    background: url('/images/loader2.gif') no-repeat center center rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.btn-share-twitter:hover,
.btn-share-fb:hover {
    text-decoration: none;
    color: white;
}

.btn-share-twitter,
.btn-share-fb {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    max-width: 225px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.btn-share-twitter {
    background: #00B4FF;
}

.btn-share-fb {
    background: #3A5997;
}

.btn-share-twitter span,
.btn-share-twitter img,
.btn-share-fb span,
.btn-share-fb img {
    display: inline-block;
    vertical-align: middle;
}

.btn-share-twitter span,
.btn-share-fb span {
    line-height: normal;
    margin-right: 3px;
    margin-top: 5px;
}

.btn-share-twitter img ,
.btn-share-fb img {
    width: 87px;
}

/* Outer wrapper */
.outer-wrapper {
    margin-top: 75px;
    position: relative;
}

/* Block */
.block { padding: 45px 0; }
.block .header-block { margin-bottom: 55px; }
.block .header-block .title {
    color: #26B7D6;
    font-family: 'verbmedium';
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}


/* Block Cover */
.block.cover {
    background-color: #51B7CD;
    color: #fff;
    padding: 105px 0 100px;

    overflow: hidden;
}

.block.cover .align-middle { margin-left: -4px; }

.block.cover .graphics {
    position: relative;
    z-index: 0;
}

.block.cover .graphics img {
    display: block;
    height: auto;
    max-width: 100%;
}

.block.cover .graphics .laptop {
    margin: 0 auto;
    max-width: 354px;
    position: relative;
    z-index: 0;
}

.block.cover .graphics .money,
.block.cover .graphics .wallet {
    margin-top: -85px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.block.cover .graphics .money { left: 0; }
.block.cover .graphics .wallet { right: 0; }

.block.cover .header-block {
    font-family: 'brandon_grotesquebold';
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.block.cover .content-block {
    font-family: 'verbregular';
    font-size: 16px;
}

.block.cover .content-block .html {
    margin-bottom: 15px;
}

/* Block How it Works */
.block.how-it-works {
    padding: 45px 0 70px;
}

.block.how-it-works .align-top {
    margin-right: -4px;
}

.block.how-it-works .card {
    text-align: center;
}

.block.how-it-works .card .image {
    margin-bottom: 25px;
}

.block.how-it-works .card .name {
    color: #FF4C00;
    font-family: 'brandon_grotesquebold';
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.block.how-it-works .card .name .button,
.block.how-it-works .card .name span {
    cursor: pointer;
    display: block;
    padding: 12px 5px;
}

.block.how-it-works .card .name .button {
    background-color: #FF4F00;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.block.how-it-works .card .desc {
    color: #414151;
    font-family: 'verbregular';
    font-size: 13px;
}


/* Block Intro */
.block.intro {
    background-color: #FF6516;
    padding: 70px 0 85px;
}

/* Override */
.block.intro .holder { max-width: 1060px; }

.block.intro .header-block {
    margin-bottom: 40px;
}

.block.intro .moneyboxes {

}

.block.intro .moneyboxes .moneybox-type {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    max-width: 130px;
}

.block.intro .moneyboxes .moneybox-type img {
    margin: auto;
    height: auto;
    width: 114px;
}

.block.intro .moneyboxes .moneybox-type .title {
    color: white;
    font-size: 16px;
    margin-bottom: 7px;
}

.block.intro .video {
    margin-left: auto;
    max-width: 490px;
}

.block.intro .video .btn-share-fb {
    margin-left: auto;
    margin-top: 10px;
}

/* Block Advantages */
.block.advantages {
    padding: 65px 0 5px;
}

.block.advantages .align-top {
    margin-right: -4px;
}

.block.advantages .advantage {
    margin-bottom: 60px;
}

.block.advantages .advantage .image,
.block.advantages .advantage .info {
    display: inline-block;
    vertical-align: middle;
}

.block.advantages .advantage .image { width: 36.06%; }

.block.advantages .advantage .image img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.block.advantages .advantage .info {
    margin-right: -4px;
    padding-left: 15px;
    width: 63.94%;
}

.block.advantages .advantage .name {
    color: #FF6500;
    font-family: 'brandon_grotesquebold';
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.block.advantages .advantage .desc {
    color: #1F1F2D;
    font-size: 13px;
}

/* Block Payment Methods */
.block.payment-methods {
    padding: 60px 0 75px;
}

.block.payment-methods.inverse {
    background: #EEEEEE;
}

.block.payment-methods .method {
    display: none;
    margin-right: -4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    width: 20%;
}

.block.payment-methods .method img {
    display: block;
    /*height: auto;*/
    margin: 0 auto;
    /*max-width: 100%;*/
}


/* Block Create Moneybox */
.block.create-moneybox {
    background: #32B7D4 url(../../images/create-moneybox-bg.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 50px 0 110px;
}

.block.create-moneybox .header-block {
    font-size: 24px;
    margin-bottom: 85px;
    text-align: center;
}

.block.create-moneybox .header-block .title {
    color: #fff;
    font-family: 'brandon_grotesquemedium';
    font-size: 34px;
    text-transform: uppercase;
}

.block.create-moneybox .sign-in { }

.block.create-moneybox .sign-in input[type=text],
.block.create-moneybox .sign-in input[type=password] {
    border: none;
    border-radius: 5px;
    color: #9797a6;
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 11px;
    width: 100%;
}
/*
.block.create-moneybox .sign-in input[type=button] {
    background-color: #FF4F00;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'brandon_grotesquebold';
    font-size: 18px;
    margin-left: auto;
    max-width: 225px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}*/

.block .sign-in-wrap {
    margin-top: 60px;
}

.block .sign-in-fb {
    background: #4671C7;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 19px;
    margin: auto;
    max-width: 355px;
    padding: 19px 10px;
    text-align: center;
    text-decoration: none;
}

.block .sign-in-fb span,
.block .sign-in-fb img {
    display: inline-block;
    vertical-align: middle;
}

.block .sign-in-fb span {
    line-height: normal;
    margin-right: 5px;
    margin-top: 5px;
}

/* Footer */
.footer {
    background-color: #FF5000;
    color: #fff;
    padding: 15px 0 25px;
}

.footer .align-middle {
    margin-right: -4px;
}

.footer a { color: #fff; }

/* Footer - Rights */
.footer .rights .logo {
    margin-bottom: 5px;
    max-width: 190px;
}

.footer .rights .text {
    font-size: 13px;
    line-height: normal;
}

/* Footer - Navigation */
.footer .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .footer-nav ul li a {
    font-size: 10px;
    text-transform: uppercase;
}

/* Footer - Contact Info */
.footer .contact-info {
    font-size: 11px;
    text-align: right;
}

.footer .contact-info h5 { font-family: 'verbmedium'; font-size: 12px; margin: 0; }


/* Content Header */
.content-header {
    background-color: #51B7CD;
    padding: 19px 0;
}

.content-header h1 {
    color: #fff;
    font-family: 'brandon_grotesquebold';
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* Content Body */
.content-body {
    padding: 50px 0 65px;
}


/* Faqs Layout */
.faqs-layout { }

.faqs-layout .faqs {
    margin: 0 auto;
    max-width: 845px;
}

.faqs-layout .faq {
    border-bottom: 1px solid #DBDBEA;
}

.faqs-layout .faq .question {
    cursor: pointer;
    padding: 15px 10px;
}

.faqs-layout .faq .question .text {
    color: #646472;
    float: left;
    font-family: 'verbmedium';
    font-size: 19px;
    line-height: 33px;
}

.faqs-layout .faq .question .icon {
    background-color: #4CB7CF;
    border-radius: 50%;
    color: #fff;
    float: right;
    font-size: 24px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
}

.faqs-layout .faq .question .icon:after { content: '+'; }
.faqs-layout .faq.displayed .question .icon:after { content: '-'; }

.faqs-layout .faq .answer {
    height: 0;
    overflow: hidden;
}

.faqs-layout .faq .answer .inner {
    color: #646472;
    font-size: 13px;
    padding: 0 10px 30px;
}


/*-----------------------------------------------------------------------------
| Contact Form Section
|-----------------------------------------------------------------------------
|
|
*/

.contact-body {
    background: url("../images/contact-bg.png") no-repeat center center;
    background-size: cover;
    padding: 50px 0;
}

.contact-body .content {
    max-width: 830px;
    width: 100%;
    margin: auto;
}

.contact-body h2 {
    color: #414151;
    text-align: center;
    font-family: verbmedium;
    font-size: 16px;
}

.contact-body .contact-info {
    padding: 40px 0;
}

.contact-body .contact-info  .info-phone,
.contact-body .contact-info  .info-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-body .contact-info .icon-phone {
    background: url("../images/icon-phone.png");
}

.contact-body .contact-info .icon-address {
    background: url("../images/icon-address.png");
}

.contact-body .contact-info .icon-address,
.contact-body .contact-info .icon-phone {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.contact-body .contact-info .text,
.contact-body .contact-info .text a{
    color: #4CB7CE;
    font-size:11px;
}

::-webkit-input-placeholder {
    color: #9797A5;
}

.contact-body .contact-form input,
.contact-body .contact-form textarea {
    border: solid 1px #FF4F00;
    border-radius: 7px;
    color: #333;
    font-family: verbregular;
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.contact-body .contact-form .row {
    margin-bottom: 15px;
}

.contact-body .contact-form .sended {
    transition: 350ms all;
}

/*
.contact-body .contact-form button[disabled] {
    opacity: 0.7;
}

.contact-body .contact-form button {
    border: none;
    background: #FF4F00;
    border-radius: 7px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verbmedium;
    font-size: 14px;
    max-width: 182px;
    outline: none;
    padding: 11.5px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
*/
.contact-body .contact-form button .icon {
    background: url("../images/loader.gif");
    background-size: 20px;
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

/*-----------------------------------------------------------------------------
| Register User Form Section
|-----------------------------------------------------------------------------
|
|
*/


/* Block reasons */
.block.reasons {
    background: #32B7D4 url(../../images/create-moneybox-bg.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 50px 0 110px;
}

/* Override */
.block.reasons .holder {
    max-width: 710px;
}

.block.reasons .header-block {
    margin-bottom: 85px;
    text-align: center;
}

.block.reasons .header-block .title {
    color: #fff;
    font-family: 'brandon_grotesquemedium';
    font-size: 29px;
    text-transform: uppercase;
    text-align: left;
}

.block.reasons .content-block ul {
    list-style-image: url('../images/icon-option.png');
    padding-left: 30px;
}

.block.reasons .content-block ul li{
    font-family: verbregular;
    font-size: 17px;
    line-height: 17px;
    padding: 10px 0;
}

/* Form Styles */
.form .form-group {
    margin-bottom: 20px;
}

.form .form-control {
    border-color: #A8A8B7;
    outline: none;
    box-shadow: none;
}

.form input[type=number].form-control,
.form input[type=date].form-control,
.form input[type=text].form-control {
    height: 36px;
}

.form .form-control:hover {
    border-color: #FF4E00;
}

.form .form-group > label {
    color: #FF4E00;
    font-family: verbmedium;
    font-weight: normal;
    font-size: 14px;
}

.col-sm-4,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-sm-7 {
    margin-bottom: 15px;
}

@media screen and (min-width: 769px){
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7 {
        margin-bottom: 0px;
    }
}

/*-----------------------------------------------------------------------------
| Register Moneybox Form
|-----------------------------------------------------------------------------
|
|
*/

.icon-file {
    display: inline-block;
    width: 47px;
    height: 41px;
}

.icon-calendar {
    display: inline-block;
    background: url("../images/icon-calendar.png");
    width: 49px;
    height: 49px;
}

.moneybox-view {
    
}

.moneybox-view .holder {
    max-width: 850px;
}

.moneybox-view .header-block {
    color: #FF4E00;
}

.moneybox-view .stage-item {
    text-align: center;
}

.moneybox-view .stage-item-title {
    color: #FF4E00;
    font-size: 16px;
    font-weight: normal;
    font-family: verbmedium;
    text-transform: uppercase;
}

.moneybox-view .stage-item .label.active {
    color: #FF4E00;
}

.moneybox-view .stage-item .label {
    color: #858596;
    font-size: 12px;
    padding: 5px 25px;
    display: inline-block;
}

.moneybox-view .stage-item .icon-step {
    height: 25px;
    width: 150px;
    margin: 15px auto;
}

.moneybox-view .stage-item .icon-step-1 {
    background: url("/images/icon-step-1.png") no-repeat center center;
}

.moneybox-view .stage-item .icon-step-2 {
    background: url("/images/icon-step-2.png") no-repeat center center;
}

.moneybox-view .text-info {
    color: #52525F;
    font-size:18px;
}

.moneybox-view .form-control {
    border-color: #FF4F00;
}

.moneybox-view .category-items {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.moneybox-view .category-item {
    border: solid 1px transparent;
    display: flex;
    cursor: pointer;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 50%;
}

@media screen and (min-width: 769px){

    .moneybox-view .category-items {
        flex-wrap: nowrap;
    }

    .moneybox-view .category-item {
        width: 120px;
        width: 33.3333%;
    }
}

.moneybox-view .category-item:hover {
    border-color: rgb(255, 79, 0);
    color: white;
}

.moneybox-view .category-item > img {
    height: 64px;
    width: 64px;
}

.moneybox-view .category-item > .label {
    color: #646472;
    font-size: 14px;
    font-family: verbregular;
    font-weight: normal;
}

.moneybox-view .radio label {
    color: #646472;
}

.moneybox-view .radio label strong {
    color: black;
}
/*
.moneybox-view .btn-primary {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
}*/

#moneybox-step2.step-2 .holder {
    max-width: 540px;
}

#moneybox-step2.step-2 input[type=number].form-control {
    height: 30px;
}

#moneybox-step2.step-2 label.flex-element {
    display: flex;
    align-items: center;
}

#moneybox-step2.step-2 label.flex-element > span {
    width: 60px;
}

#moneybox-step2.step-2 label.flex-element input[type=radio] {
    top: 5px;
}

#moneybox-step2.step-2 label.flex-element > * {
    margin-right: 5px;
}

#moneybox-step2.step-2 .form-control {
    color: #31313F;
    border-color: #B9B9C8;
    background: #ECECFB;
    border-radius: 0;
    font-size: 14px;
    width: 145px;
}

#moneybox-step2.step-2 .form-control:hover {
    border-color: rgb(255, 79, 0);
}


/* Styles for item box */

.my-moneybox-view .holder {
    max-width: 910px;
}

.moneybox-list {

}
.moneybox-title {
    color: #ff4f00;
    border-bottom: solid 1px #dbdbea;
    font-family: 'brandon_grotesquebold';
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 25px;
}

.moneybox-item {
    margin-bottom: 50px;
}

.moneybox-item .title {
    color: rgb(255, 79, 0);
    font-family: verbsemibold;
    font-weight:normal;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.moneybox-item .btn {
    background: #3398CC;
    display: block;
    font-family: verbregular;
    font-size: 13px;
    margin: auto;
    padding: 12px 0;
    text-align: center;
    text-transform: inherit;
    width: 183px;
}

.moneybox-item header {
    padding: 5px 0px;
}

.moneybox-item:nth-child(odd) header {
    background: #ff4f00;
    border: solid 1px #ff4f00;
}

.moneybox-item:nth-child(even) header {
    background: #54CDE9;
    border: solid 1px #54CDE9;
}

.moneybox-item header img {
    display: block;
    margin: auto;

    height: 42px;
}

.moneybox-item main {
    padding: 10px 0;
    border-right: solid 1px #DBDBEA;
    border-left: solid 1px #DBDBEA;
}

.moneybox-item .form-group {
    margin-bottom: 10px;
}

.moneybox-item footer {
    border: 1px solid #DBDBEA;
    padding: 10px;
}

.moneybox-item footer div {
    color: rgb(255, 79, 0);
    font-family: verbsemibold;
    padding-bottom: 10px;
}

.moneybox-item footer div span {
    color: #52525F;
    font-family: verbregular;
}

.moneybox-item footer div:nth-child(1):after,
.moneybox-item footer div:nth-child(2):after{
    border-bottom: solid 1px #42B9A7;
    content: "";
    display: block;
    margin-top: 4px;
    width: 91px;
}

@media screen and (max-width: 520px){
    .col-xs-6 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .moneybox-item header img {
        height: auto;
    }

    .moneybox-item header {
        padding: 10px 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1140px){

    .col-xs-6 {
        width: 50%;
    }

}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar > .left-items,
.toolbar > .middle-items,
.toolbar > .right-items {

}

.toolbar > .left-items {

}

.toolbar > .middle-items {
    flex: 1 1 auto;
}

.back-link {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.back-link:hover {
    color: white;
    text-decoration: none;
}

.moneybox-profile {

}
.moneybox-profile .text-info {
    color: #747484;
}

.moneybox-profile .label-owner {
    color: #424251;
}

.moneybox-profile .text-info,
.moneybox-profile .label-owner {
    font-size: 12px;
}

.moneybox-profile .holder {
    max-width: 750px;
}

.moneybox-profile div.form.share {
    margin-bottom: 50px;
}

.moneybox-profile .form.share textarea {
    border: none;
    background: #ECECFB;
}

.moneybox-profile .form.share label {
    color: #4CB7CD;
    font-size: 18px;
    font-family: verbsemibold;
    line-height: 18px;
}

.moneybox-profile .form.profile label {
    color: #4CB7CE;
}

.request-view .form .form-group > label {
    font-family: verbmedium;
}

.request-view .holder {
    max-width: 750px;
}

.request-view .text-info {
    font-size: 18px;
    color: #535362;
}

.request-view .title h2 {
    color: #ff4f00;
    font-family: verbsemibold;
    font-weight:normal;
    font-size: 24px;
    text-align: left;
}

.summary-view {
    font-size: 16px;
}

.summary-view .holder {
    max-width: 640px;
}


.summary-view.block .header-block .title {
    color: #525260;
    font-size: 18px;
    font-family: verbregular;
}

.summary-view .form {
    margin-bottom: 25px;
}

.summary-view .form.summary input[readonly] {
    border: none;
    color: #525260;
    width: 65%;
}

.summary-view .form.summary .form-group {
    margin-bottom: 0px;
}

.summary-view .form.summary .form-group > label {
    color: #525260;
    width: 30%;
    font-family: verbsemibold;
}

.summary-view .form .small-text {
    color: #535362;
    font-size: 10px;
    padding: 25px 0;
}

.summary-view .form .btn-edit {
    color: #4CB7CF;
    font-size: 13px;
    text-decoration: underline;
}

.summary-view .form .btn-edit .text {
    margin-top: -25px;
    margin-left: 55px;
}

.icon-edit {
    background: url("../images/icon-edit.png");
    display: inline-block;
    width: 25px;
    height: 25px;
}

/*-----------------------------------------------------------------------------
| Profile View
|-----------------------------------------------------------------------------
|
|
*/

.profile-view {
    min-height: 500px;
}

.profile-view .holder {
    max-width: 850px;
}

.profile-view .header-block {
    color: #FF4E00;
    margin-bottom: 10px;
}

.profile-view .content-block {
    min-height: 400px;
}

.profile-view .content-block.selected {
}

/* Stage Component */
.stage-element {
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    width: 300px;
}

.stage-element .stage-item {
    cursor: pointer;
    text-decoration: none;
    flex: 0 0 100px;
    padding: 10px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.stage-element .stage-item .stage-bar {
    height: 10px;
    background: #868695;
    width: 100%;
    position: absolute;
    top: 23px;
    z-index: -100;
    margin-left: 65px;
}

.stage-element .stage-item .stage-bar:after {
    content: "";
    background: #FF4E00;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 200;
    height: 10px;
    width: 0px;
    transition: all 50ms;
}

.stage-element .stage-item.completed .stage-bar:after {
    width: 100%;
}

.stage-element .stage-item.selected .stage-item-label,
.stage-element .stage-item:hover .stage-item-label {
    color: #FF4E00;
}

.stage-element .stage-item-title {
    color: #FF4E00;
    font-size: 16px;
    font-weight: normal;
    font-family: verbmedium;
    text-transform: uppercase;
}

.stage-element .stage-item-icon {
    background: url("/images/icon-profile-stage.png") no-repeat 0 0;
    height: 34px;
    width: 34px;
    z-index: 100;
}

.stage-element .stage-item-label,
.stage-element .stage-item-icon {
    display: block;
    margin: 0px auto;
}

.stage-element .stage-item-label {
    color: #858596;
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.stage-element .stage-item.profile.completed .stage-item-icon,
.stage-element .stage-item.profile.selected .stage-item-icon {
    background-position: 0 -34px;
}

.stage-element .stage-item.password.completed .stage-item-icon,
.stage-element .stage-item.password.selected .stage-item-icon {
    background-position: -34px -34px;
}

.stage-element .stage-item.share.completed .stage-item-icon,
.stage-element .stage-item.share.selected .stage-item-icon {
    background-position: -69px -34px;
}


/* Contacts View*/
.profile-view.contacts .holder {
    max-width: 500px;
}

.profile-view.contacts label.text-info {
    color: #525261;
    font-size: 15px;
}

.profile-view.contacts .textarea {
    border: none;
    background: #ECECFB;
}

.message-ui {
    height: 50px;
    margin-bottom: 15px;
}

/* always present */
.expand-transition {
    transition: all .3s ease;
    height: 40px;
    padding: 10px;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}

section.block.reset-password {
    padding: 70px 0;
    height: 500px;
}