<div class="alert-modal">
    <!-- header -->
    <div class="popup-header">
        <span class="alert-title">{{title}}</span>
    </div>
    <!-- ./header -->
    <div class="close close-alert">x</div>

    <!-- body -->
    <div class="popup-body">

        <!-- email login -->
        <div class="email-login">
            <div id="alert-content">
                <p>{{content}}</p>
            </div>
            <button class="btn-email-login close-alert">ACEPTAR</button>
        </div>
        <!-- email login -->
    </div>
</div>