<div class="popup">

    <!-- header -->
    <div class="popup-header">
        <span>Regístrate para crear tu alcancía</span>
    </div>
    <!-- header -->

    <!-- body -->
    <div class="popup-body">

        <!-- email login -->
        <div class="email-login">
            <input type="text" placeholder="Tu email"/>
            <input type="password" placeholder="Contraseña"/>
            <span>Olvidé mi contraseña</span>
            <button class="btn-email-login">ENTRAR</button>
        </div>
        <!-- email login -->

        <div class="popup-splitter"></div>

        <!-- facebook login -->
        <div class="facebook-login">
            <button class="btn-facebook-login"><img src="/images/facebook-login.png" alt=""/></button>
        </div>
        <!-- facebook login -->

    </div>
    <!-- body -->

</div>