<div class="popup">

    <!-- header -->
    <div class="popup-header">
        <span>Regístrate para crear tu alcancía</span>
    </div>

    <!-- ./header -->

    <div class="close close-popup">x</div>

    <!-- body -->
    <div class="popup-body" ng-controller="loginController">

        <!-- email login -->
        <div class="email-login">
            <input type="text" placeholder="Tu email" ng-model="email"/>
            <input type="password" placeholder="Contraseña" ng-model="password"/>
            <span>Olvidé mi contraseña</span>
            <button class="btn-email-login" ng-click="emailLogin()">ENTRAR</button>
        </div>
        <!-- email login -->

        <div class="popup-splitter"></div>

        <!-- facebook login -->
        <div class="facebook-login">
            <button class="btn-facebook-login" ng-click="facebookLogin()"><img src="/images/facebook-login.png" alt=""/></button>
        </div>
        <!-- facebook login -->

    </div>
    <!-- ./body -->

</div>